body {
  background-image: url("../assets/images/clouds.jpg");
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

.image-center {
  margin: auto;
}

.jumbotron{
  padding: 5px;
  border-radius: 200px;
  background-color: rgb(255, 254, 254, 0.3)
}

.navigation-center {
  text-align: center;
  margin: auto;
  display: flex;
}
